#featured {
display: flex;
padding: 30.72px 0;
flex-direction: column;
}
.featured-title {
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 30.720px;
}
.featured-title-main {
font-size: 31px;
line-height: 35.6px;
color: #0c0c0c;
font-family: var(--font-heading);
font-weight: 200;
text-transform: none;
}

.featured-title p{
word-break: break-word;
font-size: 15px;
line-height: 22.5px;
color: #5c5c5c;
font-family: var(--font--label);
    font-weight: 400;
letter-spacing: 0.1px;
text-transform: none;
}



.featured-container {
display: flex;
flex-direction: row;
gap: 24px;
align-items: stretch;
}

.featured-banner {
height: auto;
width: 100%;
overflow: hidden;
flex: 0 0 26%;
}

.featured-banner img {
width: 100%;
height: 100%;
object-fit: cover;
}

.featured-items {
display: flex;
gap: 20px;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
}

.featured-card {
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
width: 100%;
height: auto;
flex: 1 0 0px;
align-self: stretch;
position: relative;
}

.featured-card img {
width: 100%;
height: auto;
object-fit: cover;
display: block;
cursor: pointer;
aspect-ratio: 1/1;
}

.featured-genre {
font-size: 15px;
line-height: 22.5px;
color: #5c5c5c;
font-family: 'Beae-font-vqca', sans-serif;
font-weight: 400;
letter-spacing: 0.1px;
}

.featured-name {
font-size: 20px;
line-height: 23px;
text-transform: none;
font-weight: 500;
font-family: 'Beae-font-fdul';
cursor: pointer;
width: 100%;
text-align: center;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.featured-price {
display: flex;
align-items: center;
gap: 12px;
}

.featured-price-old {
font-size: 15px;
color: #dc2626;
line-height: 22.5px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.featured-price-new {
font-size: 15px;
color: #8a8a8a;
line-height: 22.5px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-decoration: line-through;
}

.featured-stock-info-in {
display: flex;
margin-top: 15.360px;
font-size: 12px;
line-height: 18px;
text-transform: none;
letter-spacing: 1px;
font-family: sans-serif;
font-weight: 400;
color: #3C9342;
gap: 14px;
justify-content: center;
align-items: center;
}

.featured-stock-info-dot-stock-in {
width: 8px;
height: 8px;
border-radius: 50%;
animation: pulse 1.5s infinite;
background-color: #3C9342;
}

.featured-stock-info-low {
display: flex;
margin-top: 15.360px;
font-size: 12px;
line-height: 18px;
text-transform: none;
letter-spacing: 1px;
font-family: sans-serif;
font-weight: 400;
color: #A77A06;
gap: 14px;
justify-content: center;
align-items: center;
}

.featured-stock-info-dot-stock-low {
width: 8px;
height: 8px;
border-radius: 50%;
animation: pulse 1.5s infinite;
background-color: #A77A06;
}

@keyframes pulse {
0% {
    box-shadow: 0 0 0 0 rgba(60, 147, 66, 0.7);
}
70% {
    box-shadow: 0 0 0 4px rgba(60, 147, 66, 0);
}
100% {
    box-shadow: 0 0 0 0 rgba(60, 147, 66, 0);
}
}

#featured button {
margin-top: 15.360px;
width: 100%;
height: auto;
background-color: white;
color: black;
padding: 10px;
border: 1px solid black;
cursor: pointer;
}

#featured button span {
font-size: 16px;
line-height: 24px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

#featured button:hover {
color: #ec7c98;
}

.featured-card .featured-save {
position: absolute;
top: 10px;
left: 10px;
background-color: #dc2626;
color: white;
padding: 4px 10px;
font-size: 12px;
font-weight: 400;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
#featured {
    padding: 17.584px 15px;
    margin: 0 auto;
}

.featured-title {
    margin-bottom: 17.584px;
}

.featured-container {
    flex-direction: column;
}

.featured-banner img {
    aspect-ratio: 5/4;
}

.featured-items {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.featured-card {
    flex: 0 0 40%;
    width: 100%;
}

.featured-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    height: 40px;
}

.featured-stock-info-in ,
.featured-stock-info-low {
  margin-top: 5px;
}

#featured button {
  margin: 0;
}
}